 @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Handlee');
 html,
 body {
     height: 100%;
 }
 
 #pageContainer {
     width: 100%;
     min-height: 100%;
     background: linear-gradient(to bottom right, blue, red, yellow);
 }
 
 .header {
     background: linear-gradient(black, rgba(30, 30, 30, 1), black);
     margin-top: 75px;
     padding: 5px 0px 5px 0px;
     border-radius: 5px;
 }
 
 .quoteContent {
     background: linear-gradient(black, rgba(30, 30, 30, 1), black);
     margin-top: 20px;
     padding: 5px 5px 5px 5px;
     border-radius: 5px;
 }
 
 .buttons {
     background-color: rgba(0, 0, 0, 0.7);
     border-radius: 5px;
     margin-top: 20px;
     padding: 1px 0px 5px 0px;
     cursor: pointer;
 }
 
 .footer {
     margin-top: 50px;
 }
 
 h1,
 h2,
 h3,
 p {
     color: white;
     text-align: center;
     font-family: 'Coming Soon', cursive;
 }
 
 h1 {
     font-size: 3em;
 }
 
 h2 {
     font-size: 2.5em;
          font-family: 'Handlee', cursive;

 }
 
 h3 {
     font-size: 1.5em;
 }
 
 p {
     font-size: 1em;
 }
 
 a:hover,
 a:visited,
 a:link,
 a:active {
     text-decoration: none;
 }